<div id="pcontent">
    <style type="text/css">
        .center {
            text-align: center;
            padding-top: 5px;
        }

        .vedit2, .veditit, .viewit {
            font-size: 18px;
            cursor: pointer !important;
        }

        .vdelete {
            display: none;
        }

        #tblJ1 > thead > tr > th {
            font-weight: 700 !important;
        }

        .chld > td {
            background: #dddddd;
        }

        #tblJ1 thead tr th {
            background: whitesmoke;
            position: -webkit-sticky;
            position: sticky;
            top: 84px;
            box-shadow: 0 2px 2px -1px rgb(29, 74, 109);
        }
    </style>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px;">
            <div class="panel panel-default card-view panel-refresh">
                <div class="refresh-container">
                    <div class="la-anim-1"></div>
                </div>
                <div class="panel-heading">
                    <div class="pull-left" style="display: inline-flex;">
                        <i class="fa fa-wpforms" style="padding-top: 4px;margin-right: 5px;color:#fff"></i>
                        <h6 class="panel-title txt-light">CDP DATA PROCESSING</h6>
                    </div>
                    <div class="pull-right">
                        <a class="pull-left inline-block mr-15" data-toggle="collapse" href="#collapse_1" aria-expanded="true">
                            <i class="zmdi zmdi-chevron-down"></i>
                            <i class="zmdi zmdi-chevron-up"></i>
                        </a>


                        <a href="#" class="pull-left inline-block full-screen mr-15">
                            <i class="zmdi zmdi-fullscreen"></i>
                        </a>
                        @*<a class="pull-left inline-block close-panel" href="#" data-effect="fadeOut">
                                <i class="zmdi zmdi-close"></i>
                            </a>*@
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="collapse_1" class="panel-wrapper collapse in">
                    <div class="panel-body">
                        @*===============================================*@
                        <div class="tab0">
                            &nbsp;<div class="tab1">&nbsp;CDP Data Submission</div>
                            <div class="tab2">&nbsp;</div>
                        </div>
                        <div style="margin-bottom: 20px;">
                            <table class="tblFrm">
                                <tr>
                                    <td style="width: 25%;">
                                        <label for="Disconame">Month</label>
                                    </td>
                                    <td style="width: 25%;">
                                        <select class="form-control frm" id="ddlMonths">@Html.Raw(@ViewBag.ddlMonths)</select>
                                    </td>

                                    <td style="width: 25%;">
                                        <label for="Disconame">Selection Type</label>
                                    </td>
                                    <td style="width: 25%;">
                                        <select class="form-control frm" id="ddlGrdType"><option value="1">All (View Only)</option><option value="3">DISCOs Data Receive / Return</option><option value="2">Inter DISCOs Data Selection</option></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 25%;">
                                        <label class="disco" for="Disconame">DISCO/NTDC </label>
                                    </td>
                                    <td style="width: 25%;">
                                        <select class="form-control frm disco" id="ddlDISCOs">@Html.Raw(@ViewBag.ddlDISCOs)</select>
                                    </td>
                                    <td> </td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>@*END OF tab0*@
                        <div class="tab0">
                            &nbsp;<div class="tab1">&nbsp;CDPs</div>
                            <div class="tab2">&nbsp;</div>
                        </div>
                        <div style="margin-bottom: 20px;">
                            <div style="text-align:right;"><input type="text" id="filterInput" style="width:250px;" placeholder="Search ..."></div>
                            <div>

                                <div id="tblContainer"></div>
                            </div>
                        </div>@*END OF tab0*@

                        @*<div id="dvProcess" style="display:none;">
                                <div class="tab0">
                                    &nbsp;<div class="tab1">&nbsp;Notes</div>
                                    <div class="tab2">&nbsp;</div>
                                </div>
                                <div style="margin-bottom: 20px;">
                                    <textarea cols="70" rows="6" maxlength="2000" id="prevTxtAreaRemarks" style="width: 100%;"></textarea>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12">
                                            <button id="btnReturn" class="btn btn-danger" value="0" type="button">
                                                    Return
                                                </button>
                                                <button id="btnSubmitCPPA" class="btn btn-info" value="0" type="button">
                                                    Receive
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        @*===============================================*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {


            function LoadGrid() {
                $("#tblContainer").html('<div style="text-align:center;padding:20px;"><img alt="" src="../Content/img/DataLoader.gif" /></div>');

                if ($('#ddlMonths').val() == "0") {
                    swal({
                        title: "Error",
                        text: "Please select valid month!",
                        type: "warning",
                        showCancelButton: false,
                        confirmButtonClass: "btn btn-danger",
                        confirmButtonText: "OK",
                        onAfterClose: () => {
                            setTimeout(() => $('#invoiceDate').focus(), 100)
                        }
                    });
                    $("#tblContainer").html('');
                    return false;
                }

                if (($('#ddlDISCOs').val() == "" || $('#ddlDISCOs').val() == null || $('#ddlDISCOs').val() == undefined) && $('#ddlGrdType').val() != "2") {
                    swal({
                        title: "Error",
                        text: "select valid DISCO...!",
                        type: "warning",
                        showCancelButton: false,
                        confirmButtonClass: "btn btn-danger",
                        confirmButtonText: "OK",
                        onAfterClose: () => {
                            setTimeout(() => $('#invoiceDate').focus(), 100)
                        }
                    });
                    $("#tblContainer").html('');
                    return false;
                }

                var fromdata = new FormData();
                fromdata.append("vls", '9½' + $('#ddlDISCOs').val() + '½' + $('#ddlMonths').val() + '½' + $('#ddlGrdType').val() + '½' + $('#ddlDISCOs option:selected').text());

                var choice = {};
                choice.url = '/Home/Meter_Reading_Proforma' + $(location).attr('search');
                choice.type = "POST";
                choice.data = fromdata;
                choice.contentType = false;
                choice.processData = false;
                choice.success = function (response) {
                    if ($('#tblJ1').hasClass('dataTable')) {
                        $('#tblJ1').dataTable().fnDestroy();
                    }
                    $('#tblContainer').html(response);
                    if ($('#ddlGrdType').val() != "2") {
                        $('#tblJ1').addClass('dynamicTable');
                        $($('#tblJ1 thead tr th')[0]).css('width', '35px');
                        $($('#tblJ1 thead tr th')[15]).css('width', '35px');
                        if ($('#ddlGrdType').val() != "1") {
                            $($('#tblJ1 thead tr th')[15]).html('<input type="checkbox" id="chkmainCPPA" class="form-control" style="height: 20px;">');
                        }
                        else {
                            $($('#tblJ1 thead tr th')[15]).html('');
                        }
                        $($('#tblJ1 thead tr th')[16]).css('width', '35px');
                        $($('#tblJ1 thead tr th')[16]).html('');
                        //$($('#tblJ1 thead tr th')[17]).html('');
                        //$($('#tblJ1 thead tr th')[17]).css('width', '35px');
                        //$($('#tblJ1 thead tr th')[17]).html('');
                        $('#tblJ1 tbody tr').each(function (index, element) {
                            $($(this).find('td')[0]).html(parseInt(index) + 1);
                            var $html = $($(this).find('td')[16]).html();
                            $($(this).find('td')[16]).attr('tg', $html);
                            $($(this).find('td')[16]).html('<div class="controls center"><i class="vedit2 fa fa-plus" title="New Entry" customtooltip="New Entry"></i></div>');
                        });

                        var $tr = "";
                        $('#tblJ1 tbody tr').each(function (index, element) {

                            var $this = $(this);
                            var $ptag = $(this).attr('tag');
                            var $thisj = $($(this).find('td')[16]).attr('tg');
                            if ($thisj != "") {
                                try {
                                    var $j = $.parseJSON($thisj);
                                    var thisflg = true;
                                    $.each($j, function (iii, jjj) {

                                        var editit = ''
                                        if (jjj.Status == "1" || jjj.Status == "3") {
                                            editit = '<div class="controls center"><i class="veditit fa fa-edit" title="edit" customtooltip="Edit"></i></div>';
                                            if ($('#ddlGrdType').val() != "1") {
                                                $($this.find('td')[15]).html('<input type="checkbox" class="form-control chkbxCPPA" style="height:20px;">');
                                            }
                                        }
                                        else {
                                            $($this.find('td')[15]).html('');

                                        }
                                        $($this.find('td')[14]).html(jjj.StatusTxt);
                                        if (thisflg) {
                                            $tr += '<tr class="prnt" tag="' + $this.attr('tag') + '">' + $this.html() + '</tr>';
                                            thisflg = false;
                                        }
                                        if ($('#ddlGrdType').val() == "2") {
                                            $tr += '<tr class="chld"  tag="' + jjj.WP_DISCO_CDP_MONTHLY_DATA_ID + '" ptag="' + $ptag + '"><td></td><td></td><td colspan="6" style="background: #dddddd;">' + jjj.BBB[0].CCC[0]["EB"] + '</td><td>' + jjj.BBB[0]["Primary Meter No"] + '</td><td>' + jjj.BBB[0].CCC[0]["Backup Meter No"] + '</td><td>' + jjj.BBB[0].CCC[0].ENG_ACTIVE_IMPORT + '</td><td>' + jjj.BBB[0].CCC[0].ENG_ACTIVE_EXPORT + '</td><td>' + jjj.BBB[0].CCC[0].MDI_ACTIVE_IMPORT + '</td><td>' + jjj.BBB[0].CCC[0].MDI_ACTIVE_EXPORT + '</td><td>' + jjj.BBB[0].CCC[0]["StatusTxt"] + '</td><td></td><td><div class="controls center"><i class="viewit fa fa-file-text-o" title="View/Edit Details"></i></div></td></tr>'

                                        }
                                        else {
                                            $tr += '<tr class="chld"  tag="' + jjj.WP_DISCO_CDP_MONTHLY_DATA_ID + '" ptag="' + $ptag + '"><td colspan="8" style="background: #dddddd;"></td><td>' + jjj.BBB[0]["Primary Meter No"] + '</td><td>' + jjj.BBB[0].CCC[0]["Backup Meter No"] + '</td><td>' + jjj.BBB[0].CCC[0].ENG_ACTIVE_IMPORT + '</td><td>' + jjj.BBB[0].CCC[0].ENG_ACTIVE_EXPORT + '</td><td>' + jjj.BBB[0].CCC[0].MDI_ACTIVE_IMPORT + '</td><td>' + jjj.BBB[0].CCC[0].MDI_ACTIVE_EXPORT + '</td><td>' + jjj.BBB[0].CCC[0]["StatusTxt"] + '</td><td></td><td><div class="controls center"><i class="viewit fa fa-file-text-o" title="View/Edit Details"></i></div></td></tr>'

                                        }

                                    });
                                } catch (e) {

                                }
                            }
                            else {
                                $tr += '<tr class="prnt empty" tag="' + $this.attr('tag') + '">' + $this.html() + '</tr>';
                            }
                        });
                        $('#tblJ1 tbody').html($tr);
                        $('.prnt').each(function (index, element) {

                            $($(this).find('td')[16]).html('');
                            if ($(this).hasClass('empty')) {
                                $($(this).find('td')[14]).html('');
                                $($(this).find('td')[15]).html('');
                            }
                            //if ($($(this).find('td')[14]).html() == "Verified") {
                            //    $($(this).find('td')[17]).html('');
                            //}
                        });

                        $('.prnt').each(function (iiii, jjjj) {

                            $($(this).find('td')[10]).html(numberWithCommas($($(this).find('td')[10]).html()));
                            $($(this).find('td')[11]).html(numberWithCommas($($(this).find('td')[11]).html()));
                            $($(this).find('td')[12]).html(numberWithCommas($($(this).find('td')[12]).html()));
                            $($(this).find('td')[13]).html(numberWithCommas($($(this).find('td')[13]).html()));

                            $($(this).find('td')[10]).css('text-align', 'right');
                            $($(this).find('td')[11]).css('text-align', 'right');
                            $($(this).find('td')[12]).css('text-align', 'right');
                            $($(this).find('td')[13]).css('text-align', 'right');

                        });
                        $('.chld').each(function (iiii, jjjj) {
                            $($(this).find('td')[3]).css('text-align', 'right');
                            $($(this).find('td')[4]).css('text-align', 'right');
                            $($(this).find('td')[5]).css('text-align', 'right');
                            $($(this).find('td')[6]).css('text-align', 'right');
                            $($(this).find('td')[3]).html(numberWithCommas($($(this).find('td')[3]).html()));
                            $($(this).find('td')[4]).html(numberWithCommas($($(this).find('td')[4]).html()));
                            $($(this).find('td')[5]).html(numberWithCommas($($(this).find('td')[5]).html()));
                            $($(this).find('td')[6]).html(numberWithCommas($($(this).find('td')[6]).html()));


                        });



                        $('#tblJ1').append('<tfoot>\
                                        <tr style="font-weight: bolder;"><th colspan="11" style="text-align: center;font-weight: bolder;"></th><th style="text-align:center;">Energy Import (kWh)</th><th style="text-align:center;">Energy Export (kWh)</th><th style="text-align:center;">MDI Import (kW)</th><th style="text-align:center;">MDI Export (kW)</th><th colspan="3"></th></tr>\
                                        <tr style="font-weight: bolder;"><th colspan="11" style="text-align: center;font-weight: bolder;">GRAND TOTAL UNITS</th><th style="text-align:right;" id="tblJ1a">0</th><th style="text-align:right;" id="tblJ1b">0</th><th style="text-align:right;" id="tblJ1c">0</th><th style="text-align:right;" id="tblJ1d">0</th><th colspan="3"></th></tr>\
                                        <tr style="font-weight: bolder;"><th colspan="11" style="text-align: center;font-weight: bolder;">NET ENERGY (KWH) DELIVERED / MDI (KW)</th><th colspan="2" style="text-align:right;" id="tblJ1aa">0</th><th colspan="2" style="text-align:right;" id="tblJ1bb">0</th><th colspan="3"></th></tr>\
                                        </tfoot> ');

                        var EngImp = 0.0;
                        var EngExp = 0.0;
                        var MDIImp = 0.0;
                        var MDIExp = 0.0;
                        $('.prnt').each(function (index, element) {
                            var a30 = $.trim($($(this).find('td')[10]).html()) == "" ? "0.0" : $.trim($($(this).find('td')[10]).html());
                            var b30 = $.trim($($(this).find('td')[11]).html()) == "" ? "0.0" : $.trim($($(this).find('td')[11]).html());
                            var c30 = $.trim($($(this).find('td')[12]).html()) == "" ? "0.0" : $.trim($($(this).find('td')[12]).html());
                            var d30 = $.trim($($(this).find('td')[13]).html()) == "" ? "0.0" : $.trim($($(this).find('td')[13]).html());
                            a30 = a30.replace(/,/g, '');
                            b30 = b30.replace(/,/g, '');
                            c30 = c30.replace(/,/g, '');
                            d30 = d30.replace(/,/g, '');
                            EngImp += parseFloat(a30);
                            EngExp += parseFloat(b30);
                            MDIImp += parseFloat(c30);
                            MDIExp += parseFloat(d30);
                        });
                        $('#tblJ1a').html(numberWithCommas(EngImp));
                        $('#tblJ1b').html(numberWithCommas(EngExp));
                        $('#tblJ1c').html(numberWithCommas(MDIImp));
                        $('#tblJ1d').html(numberWithCommas(MDIExp));
                        $('#tblJ1aa').html(numberWithCommas(EngImp - EngExp));
                        $('#tblJ1bb').html(numberWithCommas(MDIImp - MDIExp));


                    }//END OF SIMPLE



                    else {
                        $('#tblJ1').addClass('dynamicTable');
                        $($('#tblJ1 thead tr th')[0]).css('width', '35px');
                        $($('#tblJ1 thead tr th')[15 + 1]).css('width', '35px');
                        if ($('#ddlGrdType').val() != "1") {
                            $($('#tblJ1 thead tr th')[15 + 1]).html('<input type="checkbox" id="chkmainCPPA" class="form-control" style="height: 20px;">');
                        }
                        else {
                            $($('#tblJ1 thead tr th')[15 + 1]).html('');
                        }
                        $($('#tblJ1 thead tr th')[16 + 1]).css('width', '35px');
                        $($('#tblJ1 thead tr th')[16 + 1]).html('');
                        //$($('#tblJ1 thead tr th')[17]).html('');
                        //$($('#tblJ1 thead tr th')[17]).css('width', '35px');
                        //$($('#tblJ1 thead tr th')[17]).html('');
                        $('#tblJ1 tbody tr').each(function (index, element) {
                            $($(this).find('td')[0]).html(parseInt(index) + 1);
                            var $html = $($(this).find('td')[16 + 1]).html();
                            $($(this).find('td')[16 + 1]).attr('tg', $html);
                            $($(this).find('td')[16 + 1]).html('<div class="controls center"><i class="vedit2 fa fa-plus" title="New Entry" customtooltip="New Entry"></i></div>');
                        });

                        var $tr = "";
                        $('#tblJ1 tbody tr').each(function (index, element) {

                            var $this = $(this);
                            var $ptag = $(this).attr('tag');
                            var $thisj = $($(this).find('td')[16 + 1]).attr('tg');
                            if ($thisj != "") {
                                try {
                                    var $j = $.parseJSON($thisj);
                                    var thisflg = true;
                                    $.each($j, function (iii, jjj) {

                                        var editit = ''
                                        if (jjj.Status == "1" || jjj.Status == "3") {
                                            editit = '<div class="controls center"><i class="veditit fa fa-edit" title="edit" customtooltip="Edit"></i></div>';
                                            if ($('#ddlGrdType').val() != "1") {
                                                $($this.find('td')[15 + 1]).html('<input type="checkbox" class="form-control chkbxCPPA" style="height:20px;">');
                                            }
                                        }
                                        else {
                                            $($this.find('td')[15 + 1]).html('');

                                        }
                                        $($this.find('td')[14 + 1]).html(jjj.StatusTxt);
                                        if (thisflg) {
                                            $tr += '<tr class="prnt" tag="' + $this.attr('tag') + '">' + $this.html() + '</tr>';
                                            thisflg = false;
                                        }
                                        if ($('#ddlGrdType').val() == "2") {
                                            $tr += '<tr class="chld"  tag="' + jjj.WP_DISCO_CDP_MONTHLY_DATA_ID + '" ptag="' + $ptag + '"><td></td><td></td><td colspan="6" style="background: #dddddd;">' + jjj.BBB[0].CCC[0]["EB"] + '</td><td></td><td>' + jjj.BBB[0]["Primary Meter No"] + '</td><td>' + jjj.BBB[0].CCC[0]["Backup Meter No"] + '</td><td>' + jjj.BBB[0].CCC[0].ENG_ACTIVE_IMPORT + '</td><td>' + jjj.BBB[0].CCC[0].ENG_ACTIVE_EXPORT + '</td><td>' + jjj.BBB[0].CCC[0].MDI_ACTIVE_IMPORT + '</td><td>' + jjj.BBB[0].CCC[0].MDI_ACTIVE_EXPORT + '</td><td>' + jjj.BBB[0].CCC[0]["StatusTxt"] + '</td><td></td><td><div class="controls center"><i class="viewit fa fa-file-text-o" title="View/Edit Details"></i></div></td></tr>'

                                        }
                                        else {
                                            $tr += '<tr class="chld"  tag="' + jjj.WP_DISCO_CDP_MONTHLY_DATA_ID + '" ptag="' + $ptag + '"><td colspan="8" style="background: #dddddd;"></td><td>' + jjj.BBB[0]["Primary Meter No"] + '</td><td>' + jjj.BBB[0].CCC[0]["Backup Meter No"] + '</td><td>' + jjj.BBB[0].CCC[0].ENG_ACTIVE_IMPORT + '</td><td>' + jjj.BBB[0].CCC[0].ENG_ACTIVE_EXPORT + '</td><td>' + jjj.BBB[0].CCC[0].MDI_ACTIVE_IMPORT + '</td><td>' + jjj.BBB[0].CCC[0].MDI_ACTIVE_EXPORT + '</td><td>' + jjj.BBB[0].CCC[0]["StatusTxt"] + '</td><td></td><td><div class="controls center"><i class="viewit fa fa-file-text-o" title="View/Edit Details"></i></div></td></tr>'

                                        }

                                    });
                                } catch (e) {

                                }
                            }
                            else {
                                $tr += '<tr class="prnt empty" tag="' + $this.attr('tag') + '">' + $this.html() + '</tr>';
                            }
                        });
                        $('#tblJ1 tbody').html($tr);
                        $('.prnt').each(function (index, element) {
                            $($(this).find('td')[16 + 1]).html('');
                            if ($(this).hasClass('empty')) {
                                $($(this).find('td')[14 + 1]).html('');
                                $($(this).find('td')[15 + 1]).html('');
                            }
                            //if ($($(this).find('td')[14]).html() == "Verified") {
                            //    $($(this).find('td')[17]).html('');
                            //}
                        });

                        $('.chkbxCPPA').each(function (index, element) {
                            var $tagg = $(this).parent().parent().attr('tag').split('|')[0];
                            $(this).attr('tag', $tagg);
                        });


                        $('.prnt').each(function (iiii, jjjj) {

                            $($(this).find('td')[11]).html(numberWithCommas($($(this).find('td')[11]).html()));
                            $($(this).find('td')[12]).html(numberWithCommas($($(this).find('td')[12]).html()));
                            $($(this).find('td')[13]).html(numberWithCommas($($(this).find('td')[13]).html()));
                            $($(this).find('td')[14]).html(numberWithCommas($($(this).find('td')[14]).html()));
                            $($(this).find('td')[11]).css('text-align', 'right');
                            $($(this).find('td')[12]).css('text-align', 'right');
                            $($(this).find('td')[13]).css('text-align', 'right');
                            $($(this).find('td')[14]).css('text-align', 'right');

                        });
                        $('.chld').each(function (iiii, jjjj) {
                            $($(this).find('td')[4]).css('text-align', 'right');
                            $($(this).find('td')[5]).css('text-align', 'right');
                            $($(this).find('td')[6]).css('text-align', 'right');
                            $($(this).find('td')[7]).css('text-align', 'right');
                            $($(this).find('td')[4]).html(numberWithCommas($($(this).find('td')[4]).html()));
                            $($(this).find('td')[5]).html(numberWithCommas($($(this).find('td')[5]).html()));
                            $($(this).find('td')[6]).html(numberWithCommas($($(this).find('td')[6]).html()));
                            $($(this).find('td')[7]).html(numberWithCommas($($(this).find('td')[7]).html()));

                        });


                        $('#tblJ1').append('<tfoot>\
                                    <tr style="font-weight: bolder;"><th colspan="10" style="text-align: center;font-weight: bolder;"></th><th style="text-align:center;">Energy Import (kWh)</th><th style="text-align:center;">Energy Export (kWh)</th><th style="text-align:center;">MDI Import (kW)</th><th style="text-align:center;">MDI Export (kW)</th><th colspan="3"></th></tr>\
                                    <tr style="font-weight: bolder;"><th colspan="10" style="text-align: center;font-weight: bolder;">GRAND TOTAL UNITS</th><th style="text-align:right;" id="tblJ1a">0</th><th style="text-align:right;" id="tblJ1b">0</th><th style="text-align:right;" id="tblJ1c">0</th><th style="text-align:right;" id="tblJ1d">0</th><th colspan="3"></th></tr>\
                                    <tr style="font-weight: bolder;"><th colspan="10" style="text-align: center;font-weight: bolder;">NET ENERGY (KWH) DELIVERED / MDI (KW)</th><th colspan="2" style="text-align:right;" id="tblJ1aa">0</th><th colspan="2" style="text-align:right;" id="tblJ1bb">0</th><th colspan="3"></th></tr>\
                                    </tfoot> ');

                        var EngImp = 0.0;
                        var EngExp = 0.0;
                        var MDIImp = 0.0;
                        var MDIExp = 0.0;
                        $('.prnt').each(function (index, element) {
                            var a30 = $.trim($($(this).find('td')[11]).html()) == "" ? "0.0" : $.trim($($(this).find('td')[11]).html());
                            var b30 = $.trim($($(this).find('td')[12]).html()) == "" ? "0.0" : $.trim($($(this).find('td')[12]).html());
                            var c30 = $.trim($($(this).find('td')[13]).html()) == "" ? "0.0" : $.trim($($(this).find('td')[13]).html());
                            var d30 = $.trim($($(this).find('td')[14]).html()) == "" ? "0.0" : $.trim($($(this).find('td')[14]).html());
                            a30 = a30.replace(/,/g, '');
                            b30 = b30.replace(/,/g, '');
                            c30 = c30.replace(/,/g, '');
                            d30 = d30.replace(/,/g, '');
                            EngImp += parseFloat(a30);
                            EngExp += parseFloat(b30);
                            MDIImp += parseFloat(c30);
                            MDIExp += parseFloat(d30);
                        });
                        $('#tblJ1a').html(numberWithCommas(EngImp));
                        $('#tblJ1b').html(numberWithCommas(EngExp));
                        $('#tblJ1c').html(numberWithCommas(MDIImp));
                        $('#tblJ1d').html(numberWithCommas(MDIExp));
                        $('#tblJ1aa').html(numberWithCommas(EngImp - EngExp));
                        $('#tblJ1bb').html(numberWithCommas(MDIImp - MDIExp));

                    }//END OF INTER DISCOS



                    $('#tblContainer').prepend('<input type="image" name="btnExcel" id="btnExcel" title="Export to Excel" class="Grd" src="../Content/img/xcel.png" style="margin-left: 30px;margin-top:5px;border-width:0px;width: 17px;">&nbsp;<input type="image" name="btnWord" id="btnWord" title="Export to Word" class="Grd" src="../Content/img/wrd.png" style="border-width:0px;width: 17px;">&nbsp;<input type="image" name="btnPNG" id="btnPNG" title="Export to PNG" class="Grd" src="../Content/img/png.png" style="width: 17px;border-width:0px;">');
                    $('.prnt').css('font-weight', 'bold');
                }; //END OF SUCCESS

                choice.error = function (err) {
                    console.log(err.statusText);
                };
                $.ajax(choice);
            }//End of Load Grid

            //function numberWithCommas(x) {
            // return x.toString().replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, ',');
            // }
            function numberWithCommas(number) {
                var parts = number.toString().split(".");
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                return parts.join(".");
            }
            $('body').off('change', '#ddlMonths');
            $('body').on('change', '#ddlMonths', function (e) {
                e.preventDefault();
                if ($(this).val() == "0") {
                    $('#tblContainer').html('');
                    return false;
                }
                else {
                    LoadGrid();
                }
            });

            $('body').off('change', '#ddlGrdType');
            $('body').on('change', '#ddlGrdType', function () {

                if ($('#ddlMonths').val() == "0") {
                    swal({
                        title: "Error",
                        text: "Please select valid month!",
                        type: "warning",
                        showCancelButton: false,
                        confirmButtonClass: "btn btn-danger",
                        confirmButtonText: "OK",
                        onAfterClose: () => {
                            setTimeout(() => $('#invoiceDate').focus(), 100)
                        }
                    });
                    $("#tblContainer").html('');
                    return false;
                }

                if ($(this).val() == "1") {
                    $('.disco').show();
                    $('#dvProcess').hide();
                    $('#btnReturn').show();
                    // $('#btnSubmitCPPA').html('<i class="fa fa-save"></i>Verify');
                }
                if ($(this).val() == "2") {
                    $('#btnReturn').hide();
                    // $('#btnSubmitCPPA').html('<i class="fa fa-save"></i>Select');
                    $('.disco').show();
                    $('#dvProcess').show();


                }
                if ($(this).val() == "3") {
                    $('#btnReturn').show();
                    $('.disco').show();
                    $('#dvProcess').show();
                    // $('#btnSubmitCPPA').html('<i class="fa fa-save"></i>Verify');
                }
                LoadGrid();
            });//END OF TYPE CHANGE

            $('body').off('change', '#ddlDISCOs');
            $('body').on('change', '#ddlDISCOs', function () {
                LoadGrid();
            });//END OF ddlDISCOs CHANGE


            $('body').off('click', '#btnExcel');
            $('body').on('click', '#btnExcel', function (e) {

                e.preventDefault();
                $('#tblJ1').tableExport({ type: 'excel', escape: 'false' });
                e.preventDefault();
            });
            $('body').off('click', '#btnWord');
            $('body').on('click', '#btnWord', function (e) {
                e.preventDefault();
                $('#tblJ1').tableExport({ type: 'doc', escape: 'false' });
                e.preventDefault();
            });
            $('body').off('click', '#btnPNG');
            $('body').on('click', '#btnPNG', function (e) {
                e.preventDefault();
                $('#tblJ1').tableExport({ type: 'png', escape: 'false' });
                e.preventDefault();
            });

            $('body').off('keyup', '#filterInput');
            $('body').on('keyup', '#filterInput', function () {
                fnFilterTable();
            });
            function fnFilterTable() {

                $('#chkmainCPPA').prop('checked', false);
                $('.chkbxCPPA').prop('checked', false);
                var $filter = $('#filterInput').val().replace(/\s+/g, ' ').toUpperCase();
                $('.prnt').each(function (index, element) {
                    var $t = $(this).attr('tag');
                    var $tr = $(this);
                    var rtext = $($tr.find('td')[1]).text().replace(/\s+/g, ' ').toUpperCase() + $($tr.find('td')[2]).text().replace(/\s+/g, ' ').toUpperCase() + $($tr.find('td')[3]).text().replace(/\s+/g, ' ').toUpperCase() + $($tr.find('td')[4]).text().replace(/\s+/g, ' ').toUpperCase() + $($tr.find('td')[5]).text().replace(/\s+/g, ' ').toUpperCase() + $($tr.find('td')[6]).text().replace(/\s+/g, ' ').toUpperCase() + $($tr.find('td')[7]).text().replace(/\s+/g, ' ').toUpperCase() + $($tr.find('td')[14]).text().replace(/\s+/g, ' ').toUpperCase() + $($tr.find('td')[15]).text().replace(/\s+/g, ' ').toUpperCase();
                    if (rtext.indexOf($filter) === -1) {
                        $tr.hide();
                        $('.chld[ptag="' + $t + '"]').hide();

                    }
                    else {
                        $tr.show();
                        $('.chld[ptag="' + $t + '"]').show();
                    }
                });


            }

            $('body').off('click', '#chkmainCPPA');
            $('body').on('click', '#chkmainCPPA', function (e) {
                var $val = $(this).prop('checked');
                $('.chkbxCPPA').prop('checked', $val);
                if ($val && $('#ddlGrdType').val() == "2") {
                    $('.chkbxCPPA').each(function (index, element) {
                        var $tagg = $(this).attr('tag');
                        $($('.chkbxCPPA[tag="' + $tagg + '"]')[1]).prop('checked', false);

                    });
                }
            });

            $('body').off('click', '.chkbxCPPA');
            $('body').on('click', '.chkbxCPPA', function (e) {
                if ($('#ddlGrdType').val() == "2") {
                    var $val = $(this).prop('checked');
                    var $tagg = $(this).attr('tag');
                    var $this = $(this);
                    if ($val) {
                        $('.chkbxCPPA[tag="' + $tagg + '"]').prop('checked', false);
                        $this.prop('checked', true)

                    } else {
                        $('.chkbxCPPA[tag="' + $tagg + '"]').prop('checked', true);
                        $this.prop('checked', false)
                    }
                }
            });


            $('body').off('click', '.vedit2,.veditit,.viewit');
            $('body').on('click', '.vedit2,.veditit,.viewit', function (e) {

                e.preventDefault();

                var $trSelected = $(this).parent().parent().parent();
                //var currentrow = $(this).closest('tr');
                //var $cdpno = currentrow.find('td:eq(1)').text();
                var $passvals = "";
                var $url = "/Home/MRP" + $(location).attr('search');
                if ($(this).hasClass('vedit2')) {
                    $passvals = $('#ddlDISCOs').val() + '½' + $('#ddlDISCOs option:selected').text() + '½' + $('#ddlMonths').val() + '½' + $('#ddlMonths option:selected').text() + '½' + $trSelected.attr('tag') + '½N½1';
                }
                if ($(this).hasClass('veditit')) {
                    $passvals = $('#ddlDISCOs').val() + '½' + $('#ddlDISCOs option:selected').text() + '½' + $('#ddlMonths').val() + '½' + $('#ddlMonths option:selected').text() + '½' + $trSelected.attr('tag') + '½E½1';
                }
                if ($(this).hasClass('viewit')) {
                    $passvals = $('#ddlDISCOs').val() + '½' + $('#ddlDISCOs option:selected').text() + '½' + $('#ddlMonths').val() + '½' + $('#ddlMonths option:selected').text() + '½' + $trSelected.attr('tag') + '½V½1';
                    //$url = "/Home/MeterReadingProformaDisplayOnly" + $(location).attr('search');
                }

                $('body').attr('disco', $passvals);
                var fromdata = new FormData();
                fromdata.append("vls", $passvals);
                var options = {};

                $("#pageContainer").hide('slide', options, 300);
                $.ajax({
                    type: "POST",
                    url: $url,
                    data: fromdata,
                    contentType: false,
                    processData: false,
                    success: function (result) {

                        var options = {};
                        $('#pageContainer').html($(result).find('#pcontent').html());
                        $("#pageContainer").show('slide', options, 500);
                    }
                });
            });//End of edit click

            $('body').off('click', '#btnSubmitCPPA');
            $('body').on('click', '#btnSubmitCPPA', function (e) {
                var $vals = [];
                var $cdps = [];
                $('.chkbxCPPA').each(function (index, element) {
                    if ($(this).prop('checked')) {
                        var $vp = $(this).parent().parent().attr('tag');

                        $cdps.push($vp.split('|')[0]);
                        $('.chld[ptag="' + $vp + '"]').each(function (index, element) {
                            $vals.push($(this).attr('tag'));
                        });
                        //$vals.push($(this).parent().parent().attr('tag'));
                    }
                });
                var fromdata = new FormData();
                if ($vals.join(",") == "") {
                    swal({
                        title: "Error",
                        text: "select at least one CDP to Receive...!",
                        type: "warning",
                        showCancelButton: false,
                        confirmButtonClass: "btn btn-danger",
                        confirmButtonText: "OK",
                        onAfterClose: () => {
                            setTimeout(() => $('#invoiceDate').focus(), 100)
                        }
                    });
                    return false;
                }
                fromdata.append("vls", '11½' + $('#ddlDISCOs').val() + '½' + $('#ddlMonths').val() + '½' + $('#prevTxtAreaRemarks').val() + '½' + $vals.join(",") + '½' + $('#ddlGrdType').val() + '½' + $cdps.join(","));
                var $typA = 'Receive';
                var $typB = 'verified';
                if ($('#ddlGrdType').val() == "2") {
                    var $typA = 'select';
                    var $typB = 'selected';
                }

                swal({
                    title: "Are you sure?",
                    text: "Do you really want to Receive Record?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Yes, " + $typA + " it!",
                    closeOnConfirm: false
                },
                    function () {
                        $('.sa-button-container').hide();
                        $.ajax({
                            type: "POST",
                            url: "/Home/AjaxCall" + $(location).attr("search"),
                            data: fromdata,
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                $('.sa-button-container').show();
                                swal("Success!", "Record has been " + $typB + " successfully.", "success");
                                $('#prevTxtAreaRemarks').val('');
                                LoadGrid();
                            }
                        });

                    }

                );



            });//END OF CLICK
            $('body').off('click', '#btnReturn');
            $('body').on('click', '#btnReturn', function (e) {
                var $vals = [];
                $('.chkbxCPPA').each(function (index, element) {
                    if ($(this).prop('checked')) {
                        var $vp = $(this).parent().parent().attr('tag');
                        $('.chld[ptag="' + $vp + '"]').each(function (index, element) {
                            $vals.push($(this).attr('tag'));
                        });
                        //$vals.push($(this).parent().parent().attr('tag'));
                    }
                });
                var fromdata = new FormData();
                if ($vals.join(",") == "") {
                    swal({
                        title: "Error",
                        text: "select at least one CDP to Return...!",
                        type: "warning",
                        showCancelButton: false,
                        confirmButtonClass: "btn btn-danger",
                        confirmButtonText: "OK",
                        onAfterClose: () => {
                            setTimeout(() => $('#invoiceDate').focus(), 100)
                        }
                    });
                    return false;
                }
                fromdata.append("vls", '13½' + $('#ddlDISCOs').val() + '½' + $('#ddlMonths').val() + '½' + $('#prevTxtAreaRemarks').val() + '½' + $vals.join(",") + '½' + $('#ddlGrdType').val());


                swal({
                    title: "Are you sure?",
                    text: "Do you really want to return record?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Yes, Save it!",
                    closeOnConfirm: false
                },
                    function () {
                        $('.sa-button-container').hide();
                        $.ajax({
                            type: "POST",
                            url: "/Home/AjaxCall" + $(location).attr("search"),
                            data: fromdata,
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                $('.sa-button-container').show();
                                swal("Success!", "Record has been returned successfully.", "success");
                                $('#prevTxtAreaRemarks').val('');
                                LoadGrid();
                            }
                        });

                    }

                );



            });//END OF CLICK

        });//END OF DOC READY
    </script>
</div>
