
@{
    ViewBag.Title = "Failure To Achieve Despatch Level";
}
<div id="pcontent">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px;">
            <div class="panel panel-default card-view panel-refresh">
                <div class="refresh-container">
                    <div class="la-anim-1"></div>
                </div>
                <div class="panel-heading">
                    <div class="pull-left" style="display: inline-flex;">
                        <i class="fa fa-wpforms" style="padding-top: 4px;margin-right: 5px;color:#fff;"></i>
                        <h6 class="panel-title txt-light">@ViewBag.Title</h6>
                    </div>
                    <div class="pull-right">
                        <a class="pull-left inline-block mr-15" data-toggle="collapse" href="#collapse_1" aria-expanded="true">
                            <i class="zmdi zmdi-chevron-down"></i>
                            <i class="zmdi zmdi-chevron-up"></i>
                        </a>


                        <a href="#" class="pull-left inline-block full-screen mr-15">
                            <i class="zmdi zmdi-fullscreen"></i>
                        </a>
                        @*<a class="pull-left inline-block close-panel" href="#" data-effect="fadeOut">
                                <i class="zmdi zmdi-close"></i>
                            </a>*@
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="collapse_1" class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="tab0">
                            &nbsp;<div class="tab1">&nbsp;Detail</div>
                            <div class="tab2">&nbsp;</div>
                        </div>

                        <div style="margin-bottom: 20px;">
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button id="btnCreate" style="float:left;" class="btn btn-success" type="button">
                                            Create
                                        </button>

                                    </div>
                                </div>
                            </div>
                            <div id="tblFTADL"></div>
                            @*<table class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" id="tblFTADL">

                                    <thead>
                                        <tr>

                                            <th style="width:40px;text-align:center;">FTDAL No</th>
                                            <th style="width:100px;text-align:center;">Power Producer</th>
                                            <th style="width:100px;text-align:center;">Producer Site</th>
                                            <th style="width:100px;text-align:center;">Block / Complex / Unit</th>
                                            <th style="width:40px;text-align:center;">Demand No</th>
                                            <th style="width:100px;text-align:center;">Demand Date & Time</th>
                                            <th style="width:100px;text-align:center;">Target Demand (MW)</th>
                                            <th style="width:100px;text-align:center;">Supplying (MW)</th>
                                            <th style="width:100px;text-align:center;">Failure Message Count</th>
                                            <th style="width:100px;text-align:center;">Notification Date & Time</th>
                                            <th style="width:100px;text-align:center;">Status</th>
                                            <th style="width:30px;text-align:center;">Compliance Achieved</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>*@
                        </div>
                        <div id="tblContainer" hidden></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

            $(document).ready(function () {
                $('body').off('click', '#btnCreate');
                $('body').on('click', '#btnCreate', function (e) {
                    e.preventDefault();
                    var options = {};
                    $("#pageContainer").hide('slide', options, 300);
                    $.ajax({
                        url: "/NPCC/FailedToAchieveDespatchCreate" + $(location).attr('search'),
                        success: function (result) {
                            var options = {};
                            $('#pageContainer').html($(result).find('#pcontent').html());
                            $("#pageContainer").show('slide', options, 500);
                        }
                    });
                });//End of btnCreate click

          var usertype = 0;
            function CheckUser()
            {

                @if (ViewBag.userinfo.WP_SETUP_USER_TYPES_ID == 10)
                    {
                         @: usertype = 10;
                    }
                console.log(usertype);

                if (usertype == 10)
                {
                    $("#btnCreate").hide();
                }
            }
            //loading list of ftadl
            $(function () {
                loadFTADLList();
                LoadGrid();
                CheckUser();
            });
                function loadFTADLList() {
           
                    $("#tblFTADL").html('<div style="text-align:center;padding:20px;"><img alt="" src="../Content/img/DataLoader.gif" /></div>');

                    var fromdata = new FormData();
                    fromdata.append("vls", '7½');
                    var choice = {};
                    choice.url = '/NPCC/AjaxCallNext' + $(location).attr('search');
                    choice.type = "POST";
                    choice.data = fromdata;
                    choice.contentType = false;
                    choice.processData = false;
                    choice.success = function (response) {
                      
                        if ($('#tblJ2').hasClass('dataTable')) {
                            $('#tblJ2').dataTable().fnDestroy();
                        }
                        $('#tblFTADL').html(response);
                        $($('#tblJ2 thead tr th')[0]).css('width', '35px');
                        $('#tblJ2 tbody tr').each(function (index, element) {
                            $($(this).find('td')[0]).html(parseInt(index) + 1);
                            //debugger;
                            var tenDate = new Date($(this).children("td:nth-child(3)").text()); // FTADL creation Date and time
                            tenDate = new Date(tenDate.getTime() + 10 * 60000); // date with 10 mins from FTADL creation time
                            var date = new Date(); // current date

                            //console.log(date + "    " + new Date(tenDate) + "    " + $(this).children("td:nth-child(10)").text());

                            if (date > tenDate
                                && $(this).children("td:nth-child(10)").text() != "Acknowledged")
                            {
                                $(this).css('background-color', '#FFB6C1');
                            }
                        });

                        var $editoption = '<i class="vedit fa fa-folder-open" title = "Open" customtooltip = "Open" style = "font-size:20px;"></i>';

                        $('#tblJ2 thead tr').append('<th style="width:35px;"></th>');

                        $('#tblJ2 tbody tr').append('<td style="width: 35px;"><div class="controls center" style="text-align:center">\
                                                                   '+ $editoption + '\
                                                              </div ></td >');
                        if (usertype == 10) {
                            $('#tblJ2 thead tr').append('<th style="width:35px;"><div class="controls center" style="text-align:center"><i id="btnloadList" title="Refresh" class="fa fa-refresh" style="font-size:30px;color:green"></i></div ></th>');
                            $('#tblJ2 tbody tr').append('<td style="width: 35px;"><div class="controls center" style="text-align:center"><i id="btnAckIPPList" title="Acknowledge" class="fa fa-check-square" title="Acknowledge"  style="font-size:20px;"></i></td>');

                        }

                        $('#tblJ2').append('<tfoot></tfoot>');
                        $('#tblJ2 tfoot').html($('#tblJ2 thead').html());
                        $('#tblJ2 tfoot tr').attr("style", "border-bottom: 1px solid #c4c4c4;border-right: 1px solid #c4c4c4;");
                        $('#tblJ2').addClass('dynamicTable');

                        $('#tblJ2 tbody tr').each(function () {
                            console.log('done');
                            if ($($(this).find('td')[8]).html() == "Achieved") {
                                $($(this).find('td')[9]).html('');
                            }
                            if ($($(this).find('td')[5]).html() == "Acknowledged") {                                
                                $($(this).find('td')[12]).html('');
                            }
                        });

                        $('#tblJ2 tfoot th').each(function () {
                            var title = $(this).text();
                            if ($.trim(title) != "") {
                                $(this).html('<input type="text" class="form-control" style="width:90%;" placeholder="' + title + '" />');
                                $($(this).find('td')[9]).html('');
                            }

                        });

                        var table = $('#tblJ2').DataTable({
                            "aLengthMenu": [[10, 25, 50, 100, 150, 250, 500, -1], [10, 25, 50, 100, 150, 250, 500, "All"]],
                            "iDisplayLength": -1,
                            "order": [[1, "desc"]],
                            //"bSort": false,
                            "sPaginationType": "full_numbers",
                            "bJQueryUI": false,
                            "bAutoWidth": false,
                            "bLengthChange": true,
                            "fnInitComplete": function (oSettings, json) {
                                $('.dataTables_filter>label>input').attr('id', 'search');
                            }
                        });
                        table.columns().every(function () {
                            var that = this;

                            $('input', this.footer()).on('keyup change', function () {
                                if (that.search() !== this.value) {
                                    that
                                        .search(this.value)
                                        .draw();
                                }
                            });
                        });

                        $('#tblJ2_length').append('<input type="image" name="btnExcel" id="btnExcel" title="Export to Excel" class="Grd" src="../Content/img/xcel.png" style="margin-left: 30px;margin-top:5px;border-width:0px;width: 17px;">&nbsp;<input type="image" name="btnWord" id="btnWord" title="Export to Word" class="Grd" src="../Content/img/wrd.png" style="border-width:0px;width: 17px;">&nbsp;<input type="image" name="btnPNG" id="btnPNG" title="Export to PNG" class="Grd" src="../Content/img/png.png" style="width: 17px;border-width:0px;">');

                    };
                    choice.error = function (err) {
                        console.log(err.statusText);
                    };
                    $.ajax(choice);
                }//End of load FTADL list

                // Start of Edit Click
                $('body').off('click', '.vedit,.vview');
                $('body').on('click', '.vedit,.vview', function (e) {
                    console.log("Edit Option hit !!");
                    e.preventDefault();
                    var $id = $(this).parent().parent().parent().attr('tag');
                    if ($(this).hasClass("vedit")) {
                        $id += "½e";
                    }
                    else {
                        $id += "½v";
                    }

                    var options = {};
                    var fromdata = new FormData();
                    fromdata.append('vls', $id);
                    $("#pageContainer").hide('slide', options, 300);
                    $.ajax({
                        type: "POST",
                        url: "/NPCC/FailedToAchieveDespatchCreate" + $(location).attr('search'),
                        data: fromdata,
                        contentType: false,
                        processData: false,
                        success: function (result) {
                            var options = {};
                            $('#pageContainer').html($(result).find('#pcontent').html());
                            $('#pageContainer').html($('view').find('#ftadlStatus').html());
                            $("#pageContainer").show('slide', options, 500);
                        }
                    });
                });



                function futureDateTime(dateTime) {
                    var now = new Date();
                    var future = false;
                    if (Date.parse(now) < Date.parse(dateTime)) {
                        future = true;
                    }

                    return future;
                }


                    $('body').off('click', '#btnAckIPPList');
                $('body').on('click', '#btnAckIPPList', function (e) {

                var $id = $(this).parent().parent().parent().attr('tag');
                console.log($id);

                var fromdata = new FormData();
                fromdata.append("vls", '61½' + $id + '½' + "Acknowledged");
                $.ajax({
                    type: "POST",
                    url: "/NPCC/AjaxCallNext" + $(location).attr("search"),
                    data: fromdata,
                    contentType: false,
                    processData: false,
                    success: function (response) {

                        swal({
                            title: "FTADL!",
                            text: " failures notification has been Acknowledged successfully.",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonClass: "btn btn-danger",
                            confirmButtonText: "OK"

                        });
                        var options = {};
                        $("#pageContainer").hide('slide', options, 300);
                        $.ajax({
                            url: "/NPCC/FailedToAchieveDespatch" + $(location).attr('search'),
                            success: function (response) {
                                var options = {};
                                //swal.close();
                                $('#pageContainer').html($(response).find('#pcontent').html());
                                $("#pageContainer").show('slide', options, 500);
                            }
                        });
                       
                        LoadGrid();

                    }
                                            
                });
            });//End of btnCreatePEC click


                $('body').off('click', '#btnloadList');
                $('body').on('click', '#btnloadList', function (e) {
                    loadFTADLList();
                });


                function LoadGrid() {

                    $("#tblContainer").html('<div style="text-align:center;padding:20px;"><img alt="" src="../Content/img/DataLoader.gif" /></div>');

                    var fromdata = new FormData();
                    fromdata.append("vls", '21½');
                    var choice = {};
                    choice.url = '/NPCC/AjaxCallNext' + $(location).attr('search');
                    choice.type = "POST";
                    choice.data = fromdata;
                    choice.contentType = false;
                    choice.processData = false;
                    choice.success = function (response) {

                        if ($('#tblJ1').hasClass('dataTable')) {
                            $('#tblJ1').dataTable().fnDestroy();
                        }
                        $('#tblContainer').html(response);
                        $($('#tblJ1 thead tr th')[0]).css('width', '35px');
                        $('#tblJ1 tbody tr').each(function (index, element) {
                            $($(this).find('td')[0]).html(parseInt(index) + 1);
                        });

                        var $editoption = '<i class="vedit fa fa-edit" title="Edit"  style="font-size:20px;"></i>';

                        $('#tblJ1 thead tr').append('<th style="width:35px;"></th><th style="width:35px;"></th>');

                        $('#tblJ1 tbody tr').append('<td style="width: 35px;"><div class="controls center" style="text-align:center">\
                                                                   '+ $editoption + '\
                                                              </div ></td ><td><div class="controls center" style="text-align:center"><i class="vview fa fa-file" style="font-size:20px;" title="View"></i></div></td> ');
                        if (usertype == 10) {
                            $('#tblJ1 thead tr').append('<th style="width:35px;"><div class="controls center" style="text-align:center"><i id="btnloadList" title="Refresh" class="fa fa-refresh" style="font-size:30px;color:green"></i></div ></th>');
                            $('#tblJ1 tbody tr').append('<td style="width: 35px;"><div class="controls center" style="text-align:center"><i id="btnAckIPPList" title="Acknowledge" class="fa fa-check-square" title="Acknowledge"  style="font-size:20px;"></i></td>');

                        }

                        $('#tblJ1').append('<tfoot></tfoot>');
                        $('#tblJ1 tfoot').html($('#tblJ1 thead').html());
                        $('#tblJ1 tfoot tr').attr("style", "border-bottom: 1px solid #c4c4c4;border-right: 1px solid #c4c4c4;");
                        $('#tblJ1').addClass('dynamicTable');

                        $('#tblJ1 tbody tr').each(function () {

                            if ($($(this).find('td')[8]).html() == "Acknowledged") {
                                $($(this).find('td')[9]).html('');
                            }

                            var TargetDate = $($(this).find('td')[6]).html();
                            var newTargetDate = new Date(TargetDate);

                            var check = futureDateTime((newTargetDate)); //date is in the past, returns False
                            console.log(check);
                            if (check == 1) {
                                $($(this).find('td')[9]).html('');
                            }

                        });


                        $('#tblJ2 tbody tr').each(function () {
                            if ($($(this).find('td')[8]).html() == "Acknowledged") {
                                $($(this).find('td')[9]).html('');
                            }
                            if ($($(this).find('td')[8]).html() == "Submitted" && usertype != 10) {
                                $($(this).find('td')[9]).html('');
                            }
                        });


                    //if (targetdate <= newDate2)
                    //{
                    //            console.log('oaskdosajdao');
                    //        }



                    $('#tblJ1 tfoot th').each(function () {
                        var title = $(this).text();
                        if ($.trim(title) != "") {
                            $(this).html('<input type="text" class="form-control" style="width:90%;" placeholder="' + title + '" />');
                        }

                    });

                    var table = $('#tblJ1').DataTable({
                        "aLengthMenu": [[10, 25, 50, 100, 150, 250, 500, -1], [10, 25, 50, 100, 150, 250, 500, "All"]],
                        "iDisplayLength": -1,
                        "order": [[1, "desc"]],
                        //"bSort": false,
                        "sPaginationType": "full_numbers",
                        "bJQueryUI": false,
                        "bAutoWidth": false,
                        "bLengthChange": true,
                        "fnInitComplete": function (oSettings, json) {
                            $('.dataTables_filter>label>input').attr('id', 'search');
                        }
                    });
                    table.columns().every(function () {
                        var that = this;

                        $('input', this.footer()).on('keyup change', function () {
                            if (that.search() !== this.value) {
                                that
                                    .search(this.value)
                                    .draw();
                            }
                        });
                    });

                    $('#tblJ1_length').append('<input type="image" name="btnExcel" id="btnExcel" title="Export to Excel" class="Grd" src="../Content/img/xcel.png" style="margin-left: 30px;margin-top:5px;border-width:0px;width: 17px;">&nbsp;<input type="image" name="btnWord" id="btnWord" title="Export to Word" class="Grd" src="../Content/img/wrd.png" style="border-width:0px;width: 17px;">&nbsp;<input type="image" name="btnPNG" id="btnPNG" title="Export to PNG" class="Grd" src="../Content/img/png.png" style="width: 17px;border-width:0px;">');

                };
                choice.error = function (err) {
                    console.log(err.statusText);
                };
                $.ajax(choice);
            }//End of Load Grid

            function addComma() {
                $('.clsAddComa').each(function (index, element) {
                    var $val = $(this).val().replace(/,/g, '');
                    $val = numberWithCommas($val);
                    $(this).val($val);
                });
            } 
            function numberWithCommas(x) {
                // return x.toString().replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                x = x.toString();
                if (x % 1 == 0) {
                    if (x.indexOf(".") < 0) {
                        x = x.replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                        x += ".0000";
                    } else {
                        x = x.replace('.0000', '').replace('.000', '').replace('.00', '').replace('.0', '');
                        x = x.replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                        x += ".0000";

                    }
                } else {
                    var index = x.indexOf(".");
                    var p1 = x.substring(0, index);
                    p1 = p1.replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                    var p2 = x.substring(index);
                    p2 = p2 + "0000";
                    p2 = p2.substring(0, 5);
                    x = p1 + p2;
                }
                return x;
            }
        });
    </script>
</div>
