<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cppa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cppa.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cppa</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$cppa</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WP_CPPAG_PrototypeEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CDXPWeb.Models.WP_CPPAG_PrototypeEntities, CDXPWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DBSEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CDXPWeb.Models.DBSEntities, CDXPWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnectionOld" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=wp-cppag-sql-server.database.windows.net;Initial Catalog=WP_CPPAG_Staging;Persist Security Info=True;User ID=wp-cppag-sa;Password=Admin@4321;Pooling=True;Max Pool Size=32767;Connect Timeout=74000000" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnectionOld_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=wp-cppag-sql-server.database.windows.net;Initial Catalog=WP_CPPAG_Staging;Persist Security Info=True;Connection Timeout=74000000;Max Pool Size=32767;Pooling=true;User ID=wp-cppag-sa;Password=Admin@4321" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=appdb0a.database.windows.net;Initial Catalog=APP1DB;Persist Security Info=True;User ID=CPPA;Password=Azcpp@786;Pooling=True;Max Pool Size=32767;Connect Timeout=74000000" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=appdb0a.database.windows.net;Initial Catalog=APP1DB;Persist Security Info=True;Connection Timeout=74000000;Max Pool Size=32767;Pooling=true;User ID=CPPA;Password=Azcpp@786" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CPPA_ECMEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=appdb0a.database.windows.net;Initial Catalog=APP1DB;Persist Security Info=True;User ID=CPPA;Password=Azcpp@786;Pooling=True;Max Pool Size=32767;Connect Timeout=74000000;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CPPA_ECMEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.DBModel.csdl|res://*/Models.DBModel.ssdl|res://*/Models.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=appdb0a.database.windows.net;initial catalog=APP1DB;persist security info=True;user id=CPPA;password=Azcpp@786;Connection Timeout=74000000;Max Pool Size=32767;Pooling=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="APP1DBEntities" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=appdb0a.database.windows.net;Initial Catalog=APP1DB;Persist Security Info=True;User ID=CPPA;Password=Azcpp@786;Pooling=True;Max Pool Size=32767;Connect Timeout=74000000;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\APP1DBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=appdb0a.database.windows.net;initial catalog=APP1DB;persist security info=True;user id=CPPA;password=Azcpp@786;pooling=True;max pool size=32767;connect timeout=74000000;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)APP1DBEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CPPA_ECMEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBSEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnectionOld-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WP_CPPAG_PrototypeEntities-Web.config Connection String" />
  </ItemGroup>
</Project>