
@{
    ViewBag.Title = "ScheduleTenDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ScheduleTenDetail</h2>

<div id="pcontent">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px;">
            <div class="panel panel-default card-view panel-refresh">
                <div class="refresh-container">
                    <h1>Test Page</h1>
                </div>

            </div>
        </div>
    </div>
</div>








